/*score*/
#scoreContainer {
    width: 30%;
    color: #379683;
    background-color: #edf5e1;
    padding: 1px;
    margin: 20px 0 5px 20px;
}
#score {
    color: #05386B;
}
/*timer*/
#timerContainer {
    width: 30%;
    color: #379683;
    background-color: #edf5e1;
    padding: 1px;
    margin: 20px 0 5px 20px;
    
}
#timer {
    color: #05386B;
}
/*questions*/
#question {
    color: #05386B;
    text-align: center;
}
/*answer choices*/
.answers{
    display: flex;
    width: 100%;
    justify-content: center;
}
.answertext {
    width: 150px;
   background: #edf5e1;
   color: #379683;
   font-size: 15px;
   text-align: center;
   padding: 20px 5px;
}
.answertext:hover {
    background: #05386B;
    color:#edf5e1;
    cursor: pointer;
}
/*what happens when user clicks a correct or incorrect choice*/
.correct {
    background: greenyellow;
    color: #05386B;
}
.incorrect {
    background: red;
    color:#edf5e1;
}

/* unhides results page */
#dry {
    display: none;
    text-align: center;
}
/* end results page*/
h1 {
    color: #05386B;
    text-align: center;
}
h2 {
    color: #05386B;
    text-align: center;
}
input {
    text-align: center;
    margin-bottom: 5px;
    font-size: large;
}
input [type=text] {
    background-color: #edf5e1;
    color: #05386B;
}

#high-score {
    color: #05386B;
    text-align: center;
}
/*buttons on results page*/
#saveBtn {
    text-align: center;
    background-color: #05386B;
    color:#edf5e1;
    font-size: medium;
    padding: 3px;
}
#startAgain {
    text-align: center;
    background-color: #05386B;
    color:#edf5e1;
    font-size: medium;
    padding: 3px;
    margin: auto;
}
/*shows up after user clicks save & shows name and score*/
#userInfo {
    color: #edf5e1;
    background: #379683 ;
    margin: 30px 200px;
    font-size: large;
}