/*score*/
#score {
    color: black;
}
/*timer*/
#timer {
    color: red;
    background-color: black;
}
#question {
    color: #05386B;
    text-align: center;
}
.answers {
   margin: 0 30% 10px 30%;
   padding: 5px;
   background: #edf5e1;
   color: #379683;
   font-size: 15px;
   text-align: center;
}
.answers:hover {
    background: #05386B;
    color:#edf5e1;
}

.correct {
    background: #05386B;
}
.incorrect {
    background: red;
}