/*score*/
#score {
    color: black;
}
/*timer*/
#timer {
    color: red;
    background-color: black;
    padding: 10px;
}
#question {
    color: #05386B;
    text-align: center;
}
.answers{
    display: flex;
    width: 100%;
    justify-content: center;
}
.answertext {
    width: 250px;
   background: #edf5e1;
   color: #379683;
   font-size: 15px;
   text-align: center;
   padding: 20px 5px;
}
.answertext:hover {
    background: #05386B;
    color:#edf5e1;
    cursor: pointer;
}

.correct {
    background: #05386B;
}
.incorrect {
    background: red;
}
/* end results page*/
/* unhides results page */
#dry {
    display: none;
    text-align: center;
}
h1 {
    color: #05386B;
    text-align: center;
}
h2 {
    color: #05386B;
    text-align: center;
}
input {
    text-align: center;
    display: flex;
}
input [type=text] {
    background-color: #edf5e1;
    color: #05386B;
}

#high-score {
    color: #05386B;
    text-align: center;
}
p {
    text-align: center;
}
#saveBtn {
    text-align: center;
}
/*not working*/
#userInfo {
    color:#05386B;
    text-decoration: wavy;
}